@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="red-text" role="alert">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="input-field">
        <div asp-validation-summary="All" class="red-text"></div>
        @if (Model.RequirePassword)
        {
            <div class="input-field">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="validate" />
                <span asp-validation-for="Input.Password" class="red-text"></span>
            </div>
        }
        <button class="btn red waves-effect waves-light" type="submit">Delete data and close my account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}