@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col m6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="red-text"></div>
            <div class="input-field">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <input asp-for="Email" class="validate" disabled />
                    <i class="material-icons prefix">check</i>
                }
                else
                {
                    <input asp-for="Email" class="validate" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-flat">Send verification email</button>
                }
            </div>
            @*<div class="input-field">
                    <label asp-for="Input.NewEmail"></label>
                    <input asp-for="Input.NewEmail" class="validate" />
                    <span asp-validation-for="Input.NewEmail" class="red-text"></span>
                </div>
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn waves-effect waves-light">Change email</button>*@
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
