@using Microsoft.AspNetCore.Identity
@model CBARole
@{
    ViewData["Title"] = "Add Role";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Create">
    <div class="input-field">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="validate">
        <span asp-validation-for="Name" class="red-text"></span>
    </div>
    <button type="submit" class="btn waves-effect waves-light">Add New Role</button>
</form>
