<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CBA</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <a class="brand-logo center" asp-area="" asp-controller="Home" asp-action="Index">CBA</a>
                    <ul class="hide-on-med-and-down">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index" title="CBA Home">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy" title="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Roles" title="Manage Roles">Roles</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Users" title="Manage Users">Users</a>
                        </li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Roles">Roles</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Users">Users</a>
            </li>
            <li><div class="divider"></div></li>
            <partial name="_LoginPartial" />
        </ul>
    </header>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <!-- <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
            </div> -->
        </div>
        <div class="footer-copyright">
            <div class="container">
                <span class="center">&copy; 2021 - CBA - <a class="grey-text text-lighten-4" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (ViewBag.Message != null)
    {
        <partial name="_StatusMessage" model="@ViewBag.Message" />
    }
</body>
</html>
