@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col m4">
        <form method="post">
            <div asp-validation-summary="All" class="red-text"></div>
            <div class="input-field">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="validate" />
                <span asp-validation-for="Input.Email" class="red-text"></span>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
