@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="red-text">@ViewData["Title"]</h1>
    <p class="red-text">This account has been locked out, please try again later.</p>
</header>
